/**************************
********* GENERAL *********
**************************/

body {
    font-family: 'Cabin', sans-serif;
    background: url('') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.white-space p {
	text-align: center;
	padding-bottom: 20px;
	max-width: 800px;
	margin: 0 auto;
}

.bottom-text {
	margin-top: 45px;
}

hr {
	max-width: 600px;
}

.countdown-area h1 {
	text-align: center;
	font-size: 60px;
	z-index: 1;
}

.countdown-area p {
	text-align: center;
	font-size: 40px;
	z-index: 1;
}

.directions-text p {
	margin-bottom: 10px;
}

/**************************
********* HEADER **********
**************************/

h1, h2, h3 {
	font-family: 'Belleza', sans-serif;
	text-transform: none;
}

.intro-text {
	font-size: 22px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.brand {
	font-family: 'Belleza', sans-serif;
	color: #000;
	text-shadow: none;
}

.address-bar {
	color: #000;
	text-shadow: none;
}

/**************************
******* NAVIGATION ********
**************************/

.navbar a {
	font-family: 'Cabin', sans-serif;
	text-transform: lowercase;
}

.navbar-default {
	background: rgba(251, 208, 208, 0.4);
}

.directions-text p {
	text-align: left;
}

.circle {
	border-radius: 12px 6px 12px 6px;
	background: grey;
	padding: 5px;
	line-height: 3px;
}

.nav li a {
	padding: 11px;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 15px;
}

/**************************
********* IMAGES **********
**************************/

.logo {
	margin: 0 auto;
	max-width: 300px;
	padding: 20px;
}

.registry-contain {
	margin-top: 50px;
}

.contact-background {
	background-color: rgba(251, 208, 208, 0.4)
}

placeholder {
	font-size: 15px;
}

.heart {
	max-width: 250px;
	position: absolute;
	z-index: -1;
	top: -27px;
	left: 65px;
}

/**************************
********* FOOTER **********
**************************/

p > label {
	display: block;
}

input[type=text],
input[type=email],
textarea
{
	-webkit-appearance: none;
  
	  width : 100%;
	  border: 1px solid #333;
	  margin: 0;
	  
	  font-family: inherit;
	  font-size: 90%;
	  
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
}

input:invalid {
	background-color: rgba(251, 208, 208, 0.4);
}

input:focus:invalid {
	outline: none;
}

/**************************
********* FOOTER **********
**************************/
footer p {
	font-size: 10px;
}



